<section class="cocktails">
  <div class="container">
    <h2 class="cocktails-titel">Cocktails</h2>
    <ul class="cocktails-list list">
      <li class="cocktails-list-item">
        <img
          class="cocktails-img"
          src="../images/Rectangle 1763.jpg"
          width="307"
          height="257"
          alt="cocktails"
        />
        <h3 class="cocktails-subtitel">Negroni</h3>
        <p class="cocktails-desc">
          An iconic Italian cocktail, the Negroni features a balanced blend of
          gin, Campari, and sweet vermouth, known for its bittersweet flavor and
          ruby-red color. Served over ice with an orange slice, it offers a
          robust and refreshing taste experience.
        </p>
        <div class="cocktails-btns-wrapper">
          <button class="cocktails-learn-btn" type="button">learn more</button>
          <button class="cocktails-btn-like" type="button">
            <svg class="cocktails-icon" width="18" height="18">
              <use href="../icons/sprite.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="cocktails-list-item">
        <img
          class="cocktails-img"
          src="../images/Rectangle 1763.jpg"
          width="307"
          height="257"
          alt="cocktails"
        />
        <h3 class="cocktails-subtitel">Negroni</h3>
        <p class="cocktails-desc">
          An iconic Italian cocktail, the Negroni features a balanced blend of
          gin, Campari, and sweet vermouth, known for its bittersweet flavor and
          ruby-red color. Served over ice with an orange slice, it offers a
          robust and refreshing taste experience.
        </p>
        <div class="cocktails-btns-wrapper">
          <button class="cocktails-learn-btn" type="button">learn more</button>
          <button class="cocktails-btn-like" type="button">
            <svg class="cocktails-icon" width="18" height="18">
              <use href="../icons/sprite.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="cocktails-list-item">
        <img
          class="cocktails-img"
          src="../images/Rectangle 1763.jpg"
          width="307"
          height="257"
          alt="cocktails"
        />
        <h3 class="cocktails-subtitel">Negroni</h3>
        <p class="cocktails-desc">
          An iconic Italian cocktail, the Negroni features a balanced blend of
          gin, Campari, and sweet vermouth, known for its bittersweet flavor and
          ruby-red color. Served over ice with an orange slice, it offers a
          robust and refreshing taste experience.
        </p>
        <div class="cocktails-btns-wrapper">
          <button class="cocktails-learn-btn" type="button">learn more</button>
          <button class="cocktails-btn-like" type="button">
            <svg class="cocktails-icon" width="18" height="18">
              <use href="../icons/sprite.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="cocktails-list-item">
        <img
          class="cocktails-img"
          src="../images/Rectangle 1763.jpg"
          width="307"
          height="257"
          alt="cocktails"
        />
        <h3 class="cocktails-subtitel">Negroni</h3>
        <p class="cocktails-desc">
          An iconic Italian cocktail, the Negroni features a balanced blend of
          gin, Campari, and sweet vermouth, known for its bittersweet flavor and
          ruby-red color. Served over ice with an orange slice, it offers a
          robust and refreshing taste experience.
        </p>
        <div class="cocktails-btns-wrapper">
          <button class="cocktails-learn-btn" type="button">learn more</button>
          <button class="cocktails-btn-like" type="button">
            <svg class="cocktails-icon" width="18" height="18">
              <use href="../icons/sprite.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="cocktails-list-item">
        <img
          class="cocktails-img"
          src="../images/Rectangle 1763.jpg"
          width="307"
          height="257"
          alt="cocktails"
        />
        <h3 class="cocktails-subtitel">Negroni</h3>
        <p class="cocktails-desc">
          An iconic Italian cocktail, the Negroni features a balanced blend of
          gin, Campari, and sweet vermouth, known for its bittersweet flavor and
          ruby-red color. Served over ice with an orange slice, it offers a
          robust and refreshing taste experience.
        </p>
        <div class="cocktails-btns-wrapper">
          <button class="cocktails-learn-btn" type="button">learn more</button>
          <button class="cocktails-btn-like" type="button">
            <svg class="cocktails-icon" width="18" height="18">
              <use href="../icons/sprite.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
