<section id="cocktails" class="cocktails">
  <div class="container ingredient-container">
    <h2 class="cocktails-titel js-titel">Cocktails</h2>
    <ul class="cocktails-list js-cocktails-list list"></ul>
    <div
      class="not-found-container visually-hidden js-image-not-found-container"
    >
      <img
        src="./images/favorite_cocktails/not_found_mobile1x.png"
        alt="image not found"
        class="img-not-found"
      />
      <p class="not-found-desc">
        You haven't added any
        <span class="accent-color">favorite cocktails</span> yet
      </p>
    </div>
    <div
      id="tui-pagination-container"
      class="tui-pagination js-pagination"
    ></div>
  </div>
</section>
