<footer class="page-footer-section">
  <div class="container footer-container">
    <a class="footer-logo link" href="./index.html"
      >Drinkify
      <svg
        class="logo-item-footer"
        width="21"
        height="18"
        aria-label="logo cocktail"
      >
        <use href="./icons/sprite.svg#icon-cocktail"></use>
      </svg>
    </a>
    <div class="footer-social-icons-wrapper">
      <p class="footer-desc">We in social</p>
      <ul class="footer-social-list list">
        <li class="footer-social-item">
          <a href="#" class="footer-social-link">
            <svg
              class="footer-social-icon"
              width="9"
              height="16"
              aria-label="facebook social"
            >
              <use href="./icons/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="#" class="footer-social-link">
            <svg
              class="footer-social-icon"
              width="15"
              height="15"
              aria-label="instagram social"
            >
              <use href="./icons/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="#" class="footer-social-link">
            <svg
              class="footer-social-icon"
              width="16"
              height="12"
              aria-label="youtube social"
            >
              <use href="./icons/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
