<section class="hero">
  <div class="container hero-mobile-wrapper">
    <div class="wrapper">
      <div class="hero-title-desc-wrapper">
        <h1 class="hero-title">
          A party without <span class="accent-color">cocktails</span>
          <br />
          is not like a party
        </h1>
        <p class="hero-description">
          From classic sips to exotic mixes, we're your key to becoming a
          cocktail wizard!
        </p>
      </div>
      <a class="hero-link link" href="#cocktails">view cocktails</a>
    </div>

    <div class="picture-title-wrapper">
      <picture class="hero-image-girl-wrapper js-white-theme">
        <source
          srcset="
            ./images/hero/girl_and_elements_desktop@1x.png 1x,
            ./images/hero/girl_and_elements_desktop@2x.png 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./images/hero/girl_and_elements_tablet@1x.png 1x,
            ./images/hero/girl_and_elements_tablet@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="./images/hero/girl_and_elements_mobile@2x.png 2x"
          media="(max-width:768px)"
        />
        <img
          class="hero-image-girl"
          src="./images/hero/girl_and_elements_mobile@1x.png 1x,"
          alt="girl with cocktails"
        />
      </picture>

      <picture class="hero-image-girl-wrapper js-black-theme">
        <source
          srcset="
            ./images/hero/girl_desktop_black@1x.png 1x,
            ./images/hero/girl_desktop_black@2x.png 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./images/hero/girl_tablet_black@1x.png 1x,
            ./images/hero/girl_tablet_black@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="./images/hero/girl_mobile_black@2x.png 2x"
          media="(max-width:768px)"
        />
        <img
          class="hero-image-girl"
          src="./images/hero/girl_mobile_black@1x.png,"
          alt="girl with cocktails"
        />
      </picture>

      <p class="hero-description-search">
        Search your favorite cocktail by ABC
      </p>
    </div>
  </div>

  <div class="thema"></div>
</section>
