<div class="mobile-menu-wrapper visually-hidden">
  <div class="mobile-menu-container container">
    <a class="mobile-menu-logo link" href="./index.html"
      >Drinkify
      <svg
        class="mobile-menu-logo-icon"
        width="21"
        height="18"
        aria-label="logo cocktail"
      >
        <use href="../icons/sprite.svg#icon-cocktail"></use>
      </svg>
    </a>
    <button class="mobile-menu-close-btn" type="button">
      <svg
        class="mobile-menu-close-btn-icon"
        width="16"
        height="16"
        aria-label="mobile menu close icon"
      >
        <use href="../icons/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="mobile-menu-navigation">
      <ul class="mobile-menu">
        <li class="mobile-menu-item list">
          <a class="mobile-menu-link link" href="">Home</a>
        </li>
        <li class="mobile-menu-item list">
          <a class="mobile-menu-link link" href="">Favorite</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
