<!------------ BACKDROP INGREDIENTS ------------>

<div class="backdrop is-hidden">
  <div class="modal-ingredients">
    <button class="modal-close-btn">
      <svg class="modal-close-icon" width="22" height="22">
        <use href="../icons/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-wrapper">
      <img
        class="modal-image"
        src="../images/ACID.jpg"
        width="295"
        height="277"
        alt="cocktail"
      />
      <div>
        <h2 class="modal-main-titel">Acid</h2>
        <h3 class="modal-titel">ingredients</h3>
        <p class="modal-desc-ingredients">Per cocktail</p>
        <ul class="modal-list">
          <li class="modal-list-item">Ice</li>
          <li class="modal-list-item">1 ounce gin</li>
          <li class="modal-list-item">1 ounce Campari</li>
          <li class="modal-list-item">1 ounce sweet vermouth</li>
          <li class="modal-list-item">Garnish: orange peel</li>
        </ul>
      </div>
    </div>
    <h4 class="modal-subtitel">Instructions:</h4>
    <p class="modal-description">
      Add the gin, Campari and sweet vermouth to a mixing glass filled with ice,
      and stir until well-chilled. Strain into a rocks glass filled with large
      ice cubes. Garnish with an orange peel.
    </p>
    <dev class="button-wrapper">
      <button class="modal-btn-add">add to favorite</button>
      <button class="modal-btn-back">Back</button>
    </dev>
  </div>
</div>

<!------------ BACKDROP INGREDIENTS ------------>

<!------------ BACKDROP COCKTAILS ------------>

<div class="backdrop is-hidden">
  <div class="modal-cocktails">
    <button class="modal-close-btn">
      <svg class="modal-close-icon" width="22" height="22">
        <use href="../icons/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-titel-cocktails">Campari</h2>
    <h3 class="modal-subtitel-cocktails">Liqueur</h3>
    <p class="modal-desc">
      <span class="modal-accent">Campari</span> is an Italian alcoholic liqueur,
      considered an apéritif (20.5%, 21%, 24%, 25%, or 28.5% ABV, depending on
      the country in which it is sold), obtained from the infusion of herbs and
      fruit (including chinotto and cascarilla) in alcohol and water. It is a
      bitters, characterised by its dark red colour.
    </p>
    <ul class="modal-list">
      <li class="modal-list-item">Type: Bitters</li>
      <li class="modal-list-item">Country of origin: Italy</li>
      <li class="modal-list-item">Alcohol by volume: 20.5 - 28.5 %</li>
      <li class="modal-list-item">Flavour : Bitter, spicy and sweet</li>
    </ul>
    <div class="cocktails-wrapper">
      <button class="modal-btn-add">add to favorite</button>
      <button class="modal-btn-back">Back</button>
    </div>
  </div>
</div>

<!------------ BACKDROP COCKTAILS ------------>
