body.dark-theme .ingredients-list-item {
    background-color: #232330;
}

.favorite-ingredients {
    padding-top: 80px;
    padding-bottom: 80px;
}

.ingredients-titel {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16667;
    color: var(--text-color);
    margin-bottom: 40px;
}

.favorite-ingredients-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.ingredients-list-item {
    border-radius: 20px;
    width: 344px;
    height: 242px;
    box-shadow: 0 4px 46px 0 rgba(0, 0, 0, 0.05);
    background: #fdfdff;
    padding: 24px;
}

.ingredients-subtitel {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--text-color);
    margin-bottom: 4px;
}

.modal-subtitel-ingredients {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    color: var(--text-color-modal);
    margin-bottom: 14px;
}

.ingredients-btns-wrapper {
    display: flex;
    gap: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    color: #242424;
    margin-bottom: 24px;
}

.ingredients-desc {
    height: 54px;
    overflow: hidden;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    color: var(--text-color);
}

.ingredients-not-found-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 98px;
    margin-bottom: 60px;
}



@media screen and (min-width:768px) {
    .favorite-ingredients {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .ingredients-titel {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.2;
        color: var(--text-color);
        margin-bottom: 32px;
    }

    .favorite-ingredients-list {
        gap: 32px 16px;
    }

    .ingredients-not-found-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        margin-top: 68px;
        margin-bottom: 40px;

    }
}

@media screen and (min-width:1280px) {
    .favorite-ingredients {
        padding-top: 104px;
    }

    .ingredients-titel {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.2;
        color: var(--text-color);
        margin-bottom: 40px;
    }

    .favorite-ingredients-list {
        gap: 44px 24px;
    }

    .ingredients-not-found-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        margin-top: 60px;
        margin-bottom: 40px;

    }
}