.favorite-cocktails {
    padding-top: 80px;
    padding-bottom: 80px;
}

.favorite-cocktails-titel {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16667;
    color: var(--text-color);
    margin-bottom: 40px;
}

.favorite-cocktails-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.not-found-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.cocktails-not-found-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px;
    margin-top: 98px;
}



@media screen and (min-width:768px) {
    .favorite-cocktails {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .favorite-cocktails-list {
        gap: 32px 16px;
    }

    .favorite-cocktails-titel {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.2;
        color: var(--text-color);
        margin-bottom: 32px;
    }

    .cocktails-not-found-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 40px;
        margin-top: 68px;
    }
}

@media screen and (min-width:1280px) {
    .favorite-cocktails {
        padding-top: 104px;
    }

    .favorite-cocktails-list {
        gap: 44px 24px;
    }

    .favorite-cocktails-titel {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.2;
        color: var(--text-color);
        margin-bottom: 40px;
    }

    .cocktails-not-found-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        margin-top: 60px;
        margin-bottom: 40px;

    }
}