body {
    --text-color-modal: rgba(36, 36, 36, 0.5);
    --text-color: #242424;
    --text-list-item: rgba(36, 36, 36, 0.8);
}

body.dark-theme {
    --text-color-modal: rgba(253, 253, 255, 0.5);
    --text-color: #fdfdff;
    --text-list-item: rgba(253, 253, 255, 0.99);
}

/* =================  MOBILE ==================== */
/* ================= BACKDROP ==================== */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: rgb(17, 17, 17, 0.5);


}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

/* ==================== BACKDROP ==================== */

/* ============== MODAL-INGREDIENTS ============== */

.modal-ingredients {
    position: absolute;
    width: 335px;
    height: 905px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;

    padding: 40px 20px;
    border-radius: 20px;
}

body.dark-theme .modal-ingredients {
    background-color: #232330;
}

.modal-close-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    padding: 0;
    background-color: transparent;
    border: none;
    line-height: 0;
    stroke: #111;
    transition: stroke 250ms linear;
}

body.dark-theme .modal-close-btn {
    stroke: #fdfdff;
}

.modal-close-icon {
    transition: transform 250ms linear;
}

.modal-close-icon:hover {
    transform: scale(1.2);
}

.modal-image {
    margin-bottom: 40px;
    border-radius: 16px;
}

.modal-titel {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.125;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 8px;

}

.modal-main-titel {
    display: none;
}

.modal-desc-ingredients {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    color: var(--text-color-modal);
    margin-bottom: 20px;
}

.modal-list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-left: 7px;
    margin-bottom: 40px;

}

.modal-list-item {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    color: var(--text-list-item);
}



.modal-subtitel {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.125;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 14px;
}

.modal-description {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857;
    color: var(--text-color-modal);
    margin-bottom: 40px;
    height: 60px;
    overflow: hidden;
}

.modal-btn-add {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.42857;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #fdfdff;

    border-radius: 12px;
    padding: 14px;
    width: 295px;
    height: 48px;
    background: #7e8fdd;
    border: none;
    margin-bottom: 14px;
    transition: background-color 250ms linear;
}

.modal-btn-add:hover,
.modal-btn-add:focus {
    background-color: #6e7fcf;
}

.modal-btn-back {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.42857;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--text-color);
    border-radius: 12px;
    padding: 14px 128px;
    width: 295px;
    height: 48px;
    transition: background-color 250ms linear;
    background-color: rgba(36, 36, 36, 0.1);
    border: none;
}

body.dark-theme .modal-btn-back {
    background-color: rgba(253, 253, 255, 0.1);
}

body.dark-theme .modal-btn-back:hover,
body.dark-theme .modal-btn-back:focus {
    background-color: rgba(253, 253, 255, 0.2);
}

/* ================= MODAL-INGREDIENTS =============== */

/* ================= MODAL-COCKTAILS =============== */

.modal-cocktails {
    position: absolute;
    width: 335px;
    height: 616px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;

    padding: 40px 20px;
    border-radius: 20px;
}

body.dark-theme .modal-cocktails {
    background-color: #232330;
}

.modal-close-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    padding: 0;
    background-color: transparent;
    border: none;
    line-height: 0;
    stroke: #111;
    transition: stroke 250ms linear;
}

.modal-close-icon {
    transition: transform 250ms linear;
}

.modal-close-icon:hover {
    transform: scale(1.2);
}

.modal-titel-cocktails {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33333;
    color: var(--text-color);
    margin-bottom: 8px;
}

.modal-subtitel-cocktails {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28571;
    text-transform: uppercase;
    color: var(--text-color-modal);
    margin-bottom: 40px;
    position: relative;
}



.modal-desc {
    margin-bottom: 40px;
    color: var(--text-color-modal);
}

.modal-accent {
    font-weight: 600;
    color: var(--text-color);
}

/* ================= MODAL-COCKTAILS =============== */

/* ================= MOBILE ===================== */

/* ================= TABLET ===================== */

@media screen and (min-width: 768px) {

    /* ============== MODAL-INGREDIENTS ============== */

    .modal-ingredients {
        width: 600px;
        height: 569px;
        padding: 40px;
    }

    .modal-close-btn {
        position: absolute;
        top: 18px;
        right: 18px;
        padding: 0;
        background-color: transparent;
        border: none;
        line-height: 0;
        stroke: #111;
        transition: stroke 250ms linear;
    }

    .modal-close-icon {
        width: 24px;
        height: 24px;
    }

    .modal-wrapper {
        display: flex;
        column-gap: 20px;
        margin-bottom: 20px;
    }

    .modal-image {
        width: 288px;
        height: 277px;
        margin-bottom: 0;
    }

    .modal-main-titel {
        display: block;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        color: var(--text-color);
        margin-bottom: 20px;
    }

    .modal-titel {
        text-transform: uppercase;
        color: var(--text-color);
        margin-bottom: 8px;
    }


    .modal-desc-ingredients {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.28571;
        margin-bottom: 20px;
        color: var(--text-color-modal);
    }

    .modal-list {

        list-style-position: inside;
        display: flex;
        margin-left: 7px;
        flex-direction: column;
        row-gap: 8px;
        margin-bottom: 40px;
    }

    .ingredients-btn {
        border: none;
        padding: 0px;
        background-color: transparent;
        color: #242424;
    }

    .ingredients-btn:hover,
    .ingredients-btn:focus {
        color: #7E8FDD;
    }

    .modal-list-item {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.28571;
        /* color: rgba(253, 253, 255, 0.99); */
    }

    .modal-subtitel {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.125;
        text-transform: uppercase;
        color: var(--text-color);
        margin-bottom: 18px;
    }

    .modal-description {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.42857;
        margin-bottom: 40px;
        overflow: hidden;
        color: var(--text-color-modal);
    }

    .button-wrapper {
        display: flex;
        column-gap: 18px;
    }

    .modal-btn-add {
        font-size: 18px;
        line-height: 1.33333;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #fdfdff;

        border-radius: 12px;
        padding: 16px;
        width: 251px;
        height: 56px;
        background: #7e8fdd;
        border: none;
        margin-bottom: 0;
    }

    .modal-btn-back {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.42857;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        border-radius: 12px;
        padding: 16px 60px;
        width: 172px;
        height: 56px;

        background-color: rgba(36, 36, 36, 0.1);
        border: none;
    }

    body.dark-theme .modal-btn-back {
        background-color: rgba(253, 253, 255, 0.1);
    }

    .modal-btn-back:hover,
    .modal-btn-back:focus {
        background-color: rgba(36, 36, 36, 0.2);
    }

    /* ================= MODAL-INGREDIENTS =============== */

    /* ================= MODAL-COCKTAILS =============== */

    .modal-cocktails {
        position: relative;
        width: 600px;
        height: 506px;
        padding: 40px;
    }

    .modal-titel-cocktails {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 12px;
    }

    .modal-subtitel-cocktails {
        font-size: 16px;
        line-height: 1.125;
    }

    .modal-subtitel-cocktails::after {
        content: '';
        position: absolute;
        display: block;
        border: 1px solid var(--text-color-modal);
        width: 520px;
        top: 40px;
    }

    .modal-desc {
        font-size: 14px;
        line-height: 1.42857;
        margin-bottom: 40px;
    }

    .modal-accent {
        font-weight: 600;
    }

    .modal-list {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        row-gap: 8px;
        margin-bottom: 40px;
    }

    .modal-list-item::before {
        content: '•';
        position: absolute;
        left: -17px;
        color: #242424;
        /* початковий колір крапки */
        transition: color 0.3s ease;
    }

    .modal-list-item:hover::before {
        color: #7E8FDD;
        /* колір крапки при ховері */
    }



    .modal-list-item {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.28571;
    }

    .modal-description {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.42857;
        margin-bottom: 40px;
    }

    .cocktails-wrapper {
        display: flex;
        column-gap: 18px;
    }

    .modal-btn-add {
        font-size: 14px;
        transition: background-color 250ms linear;
    }

    .modal-btn-add:hover,
    .modal-btn-add:focus {
        background-color: #6e7fcf;
    }

    .modal-btn-back {
        transition: background-color 250ms linear;
        border: none;
    }



    /* ================= MODAL-COCKTAILS =============== */
}

/* ================= TABLET ===================== */