/* ================= MOBILE ===================== */

body {
    --text-color: #242424;
}

body.dark-theme {
    --text-color: #fdfdff
}

.search {
    padding-top: 7px;
    padding-bottom: 20px;
}

.alphabet-search-container {
    position: relative;
}

.search-custom-selector-btn {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #fdfdff;
    border-radius: 8px;
    width: 90px;
    height: 34px;
    background-color: rgba(126, 143, 221, 0.4);
    border: none;
    padding: 4px 18px;
    align-items: center;
    stroke: #fdfdff;
    justify-content: space-between;
    margin: 0 auto 40px;
    transition: background-color 250ms linear;
}



.search-custom-selector-btn:hover,
.search-custom-selector-btn:focus {
    background-color: #9cdfdf;
}

.search-input-wrapper {
    position: relative;
}



.search-icon {
    position: absolute;
    top: 14px;
    left: 14px;
    fill: var(--text-color);
}

.search-input {
    display: block;
    border: 2px solid #7e8fdd;
    border-radius: 80px;
    width: 100%;
    height: 44px;
    padding: 12px 14px 12px 42px;
    margin: 0 auto;
    outline: transparent;
    color: var(--text-color-dark);
}

.not-found-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px;
}

.img-not-found {
    width: 234px;
}

.not-found-desc {
    width: 372px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.16667;
    text-align: center;

    color: var(--text-color);
}

body.dark-theme .search-input {
    background-color: transparent;
}

.search-input:hover,
.search-input:focus {
    border: 2px solid #7e8fdd;
    border-radius: 80px;
    width: 100%;
    height: 44px;
    padding-left: 42px;
}

.search-input::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(36, 36, 36, 0.2);
}

body.dark-theme .search-input::placeholder {
    color: rgba(253, 253, 255, 0.2);
}

@media screen and (max-width: 768px) {
    .list-container {
        position: absolute;
        border: 1px solid #9cdfdf;
        border-radius: 4px;
        width: 90px;
        height: 84px;
        background-color: #fdfdff;
        top: 38px;
        left: 133px;
        z-index: 3;
        overflow: auto;
        cursor: pointer;
        padding-right: 4px;
        opacity: 0;
        transition: opacity 250ms linear;
        pointer-events: none;
        z-index: 999999;
    }

    .list-container.is-open {
        opacity: 1;
        pointer-events: visible
    }

    .alphabet-list {
        height: 82px;
        overflow-y: scroll;

    }

    .letter-item {
        padding: 4px 10px;
        width: 100%;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.28571;
        color: #242424;
    }

    .alphabet-list::-webkit-scrollbar {
        width: 3px;
    }

    .alphabet-list::-webkit-scrollbar-thumb {
        height: 34px;
        border-radius: 4px;
        background: rgba(156, 223, 223, 0.8);
    }

    .cocktails-list li:not(:last-child) {
        margin-bottom: 20px;
    }
}

/* =================== MOBILE ===================== */
/* =================== TABLET ===================== */

@media screen and (min-width:768px) {

    .search {
        padding: 50px 0 20px;
    }

    .search-custom-selector-btn {
        display: none;
    }

    .list-container {
        width: 664px;
        height: 152px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .alphabet-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px 8px;
        flex-wrap: wrap;
    }

    .letter-item {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 40px;
        height: 40px;
        font-weight: 600;
        font-size: 20px;
        color: #fdfdff;
        background-color: rgba(126, 143, 221, 0.4);
        border-radius: 8px;
        transition: background-color 250ms linear;
    }

    .letter-item:hover,
    .letter-item:focus {
        background-color: #9cdfdf;
        cursor: pointer;
    }

    .search-input-wrapper {
        width: 300px;
        height: 44px;
        margin: 0 auto;
    }

    .search-input {
        width: 300px;
        height: 44px;
    }

    .search-input:hover,
    .search-input:focus {
        width: 300px;
        height: 44px;
    }

}

/* ==================== TABLET ==================== */
/* ==================== DESKTOP ==================== */

@media screen and (min-width: 1280px) {

    .list-container {
        width: 904px;
        height: 96px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }

}

/* ==================== DESKTOP ==================== */